* {
  margin: 0px; }

body {
  font-family: 'Quicksand', sans-serif; }

.bg-black {
  background: #000; }
  .bg-black .logo-height {
    height: 55px; }

#loading {
  width: 100%;
  height: 100vh;
  background: #FFF url("../images/805.gif") no-repeat center;
  z-index: 99999;
  position: fixed; }

.nav-pills .nav-link {
  padding: 10px;
  font-weight: 600;
  color: #bcbcbc;
  font-size: 16px; }
  .nav-pills .nav-link.active {
    color: #05b7db;
    background-color: #FFF;
    border-bottom: 1px solid #05b7db; }
.nav-pills .show .nav-link {
  color: #05b7db;
  background-color: #FFF;
  border-bottom: 1px solid #05b7db; }

.wrapper-tile {
  background: #FFF;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s; }
  .wrapper-tile:hover {
    transform: scale(1);
    box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2); }
  .wrapper-tile .img-container {
    width: 100%;
    height: 100%; }
    .wrapper-tile .img-container .top {
      height: 80%;
      width: 100%; }
      .wrapper-tile .img-container .top .img-height {
        height: 300px; }
    .wrapper-tile .img-container .bottom {
      width: 200%;
      height: 20%;
      transition: transform 0.5s; }
      .wrapper-tile .img-container .bottom h1 {
        margin: 0;
        padding: 0; }
      .wrapper-tile .img-container .bottom p {
        margin: 0;
        padding: 0; }
      .wrapper-tile .img-container .bottom .left {
        height: 100%;
        width: 50%;
        background: #f4f4f4;
        position: relative;
        float: left; }
        .wrapper-tile .img-container .bottom .left .details {
          padding: 15px;
          float: left;
          width: calc(70% - 40px); }
          .wrapper-tile .img-container .bottom .left .details h4 {
            font-weight: 500;
            cursor: pointer; }
        .wrapper-tile .img-container .bottom .left .buy {
          float: right;
          width: calc(30% - 2px);
          height: 100%;
          background: #f1f1f1;
          transition: background 0.5s;
          border-left: solid thin rgba(0, 0, 0, 0.1);
          cursor: pointer; }
          .wrapper-tile .img-container .bottom .left .buy i {
            font-size: 30px;
            padding: 30px;
            color: #254053;
            transition: transform 0.5s; }
          .wrapper-tile .img-container .bottom .left .buy:hover {
            background: #A6CDDE; }
          .wrapper-tile .img-container .bottom .left .buy:hover i {
            transform: translateY(5px);
            color: #00394B; }
      .wrapper-tile .img-container .bottom .right {
        width: 50%;
        background: #A6CDDE;
        color: #FFF;
        float: right;
        height: 200%;
        overflow: hidden; }
        .wrapper-tile .img-container .bottom .right .details {
          padding: 20px;
          float: right;
          width: calc(70% - 40px); }
        .wrapper-tile .img-container .bottom .right:hover .remove, .wrapper-tile .img-container .bottom .right:hover .done {
          transform: translateY(-100%); }
  .wrapper-tile .inside {
    z-index: 9;
    background: rgba(0, 184, 221, 0.7098039216);
    width: 140px;
    height: 140px;
    position: absolute;
    top: -70px;
    right: -70px;
    border-radius: 0px 0px 200px 200px;
    transition: all 0.5s, border-radius 2s, top 1s;
    overflow: hidden; }
    .wrapper-tile .inside .icon {
      position: absolute;
      right: 85px;
      top: 85px;
      color: #FFF;
      opacity: 1; }
    .wrapper-tile .inside:hover {
      width: 100%;
      right: 0;
      top: 0;
      border-radius: 0;
      height: 77%; }
      .wrapper-tile .inside:hover .icon {
        opacity: 0;
        right: 15px;
        top: 15px; }
      .wrapper-tile .inside:hover .contents {
        opacity: 1;
        transform: scale(1);
        transform: translateY(0); }
    .wrapper-tile .inside .contents {
      padding: 8%;
      opacity: 0;
      transform: scale(0.5);
      transform: translateY(-200%);
      transition: opacity 0.2s, transform 0.8s; }

@media (max-device-width: 768px) and (orientation: landscape) {
  .wrapper-tile .inside:hover {
    height: calc(100% - 89px); }
  .wrapper-tile .img-container .top .img-height {
    height: initial; } }

/*# sourceMappingURL=style.css.map */
